body {
    background-color: var(--Light-Grayish-Blue);
    font-family: "Manrope", sans-serif;
}

main {   
    margin: auto;    
    
    max-width: 900px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh;
}

main .container {
    background-color: #FFF;
    display: flex;
    justify-content: center; 

    border-radius: 2rem;
}

.container .main-image {
    width: 35rem;

    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.container .content {
    padding: 4rem;
}

.container .content .subtitle {
    color: var(--Very-Dark-Grayish-Blue);

    width: 42rem;
}

.container .content .description {
    margin-top: 1.5rem;

    color: var(--Grayish-Blue);

    font-weight: bold;

    line-height: 2.5rem;
}

.content .avatar-information {
    margin-top: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .avatar-information .who-is-it {
    display: flex;
    align-items: center;
}

.content .avatar-information .who-is-it .image-avatar {
    width: 5rem;

    border-radius: 100%;
}

.content .avatar-information .register {
    margin-left: 2rem;
}

.content .avatar-information .register .name {
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--Desaturated-Dark-Blue);
}

.content .avatar-information .register .data-birthday {
    font-size: 1.5rem;

    color: var(--Grayish-Blue);
}

.content .avatar-information .background {
    background-color: var(--Light-Grayish-Blue);
    width: 4.5rem;
    height: 4.5rem;

    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content .avatar-information .background .image-share {
    width: 2rem;
    height: 2rem;
}